@charset "UTF-8";

/*  tudo oq é id em HTML  =  é # em CSS
    tudo oq é class em HTML = é . em CSS
*/
body{
    background-color: rgb(201, 250, 201);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(2, 73, 2);
}

h1#principal{
    text-align: center;
    background-color: darkgreen;
    color: white;
}

h2{

    color: rgb(10, 31, 10);
}

.basico{
    color: aqua;
}
.intermediario{
    color: chocolate;
}
.avancado{
    color: rgb(117, 69, 11);
}